# Top-level EditorConfig file
root = true

[*]
end_of_line = crlf
charset = utf-8-bom
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = false

[*.{csproj,fsproj,slnx,slnf,yml,yaml,svg}]
indent_size = 2